.App {
  text-align: center;
}

.timer {
  font-size: 25px;
  margin: 20px auto;
  font-style: italic;
}

.timer em {
  font-size: 10px;
  margin: 20px auto;
  color: #5f5f5f
}

button {
  margin-right: 10px;
}
